@font-face {
	font-family: 'Nadia Serif';
	src: url('fonts/nadia-serif.eot');
	src: local('☺'), url('fonts/nadia-serif.woff') format('woff'), url('fonts/nadia-serif.ttf') format('truetype'), url('fonts/nadia-serif.svg#nadisn') format('svg');
}
body {
	font-family: "Segoe UI", Segoe, Calibri, Arial, sans-serif;
	background: url(images/background.jpg);
}
a {
	text-shadow: 1px 1px 0 hsla(0,0%,100%,.7);
}
ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

/* List of contacts */
#sidebar {
	width: 200px;
	position: absolute;
}
#sidebar .items {
	height: 350px;
	overflow: auto;
}
#sidebar li {
	position: relative;
	margin: 5px 5px 0px 0px;
	padding: 10px 15px 5px 15px;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* Safari 4 and earlier */
	border-radius: 5px; /* Opera, Chrome, Safari 5, IE 9 */
	border-top: 1px solid #fff;
	background-color: hsla(182,44%,76%,.5);
	background-image: -moz-linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,0) 30px);
	background-image: -webkit-gradient(linear, 0 0, 0 30, from(hsla(0,0%,100%,.6)), to(hsla(0,0%,100%,0)));
	-moz-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
	-webkit-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
	box-shadow: 1px 1px 2px hsla(0,0%,0%,.3); /* Opera, IE 9 */
	text-shadow: 1px 1px 1px hsla(0,0%,100%,.7); /* FF, Opera, Safari, Chrome */
}
#sidebar li.selected {
	font-weight: bold;
	background-color: #F30;
}
#sidebar li:hover {
	top: -2px;
	left: -2px;
	-moz-box-shadow: 3px 3px 2px hsla(0,0%,0%,.3);
	-webkit-box-shadow: 3px 3px 2px hsla(0,0%,0%,.3);
	box-shadow: 3px 3px 2px hsla(0,0%,0%,.3); /* Opera, IE 9 */
}
#sidebar footer {
	position: absolute;
	top: 350px;
}
#sidebar button {
	font-size: 0.9em;
}

/* View/edit panel */
#contact {
	width: 400px;
	margin-left: 220px;
	padding-top: 10px;
}
#contact .options {
	margin: 0px 0px 15px 0px;
	padding: 0px;
}
#sidebar button,
#contact .options li {
	display: inline;
	margin: 5px 0px 0px 0px;
	padding: 5px 10px 5px 10px;
	cursor: pointer;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px; /* Safari 4 and earlier */
	border-radius: 5px; /* Opera, Chrome, Safari 5, IE 9 */
	border-top: 1px solid #fff;
	background-color: #CCC;
	background-image: -moz-linear-gradient(hsla(0,0%,100%,.6), hsla(0,0%,100%,0) 30px);
	background-image: -webkit-gradient(linear, 0 0, 0 30, from(hsla(0,0%,100%,.6)), to(hsla(0,0%,100%,0)));
	-moz-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
	-webkit-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
	box-shadow: 1px 1px 2px hsla(0,0%,0%,.3); /* Opera, IE 9 */
}
#sidebar button:hover,
#contact .options li:hover {
	top: -2px;
	left: -2px;
	-moz-box-shadow: 3px 3px 2px hsla(0,0%,0%,.3);
	-webkit-box-shadow: 3px 3px 2px hsla(0,0%,0%,.3);
	box-shadow: 3px 3px 2px hsla(0,0%,0%,.3); /* Opera, IE 9 */
	text-shadow: 1px 1px 1px hsla(0,0%,100%,.7); /* FF, Opera, Safari, Chrome */
}
#contact .content {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px; /* Safari 4 and earlier */
	border-radius: 10px; /* Opera, Chrome, Safari 5, IE 9 */
	background-color: #FFF;
	padding: 20px;
	height: 300px;
	-moz-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
	-webkit-box-shadow: 1px 1px 2px hsla(0,0%,0%,.3);
	box-shadow: 1px 1px 2px hsla(0,0%,0%,.3); /* Opera, IE 9 */
}
#contact .content div {
	margin-top: 5px;
}
#contact .show .content span {
	font-size: 0.9em;
	display: block;
}
#contact .edit .content label,
#contact .edit .content span {
	display: block;
}
#contact .edit .content label span {
	font-size: 0.9em;
}
#contact .edit .content input {
	width: 200px;
	margin-bottom: 10px;
}
#contact input {
	outline: none;
	padding: 5px;
	font-size: 0.9em;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background: #e6e6e7;
	background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e7), to(#fafafa));
	background: -moz-linear-gradient(top, #e6e6e7, #fafafa);
	background: linear-gradient(top, #e6e6e7, #fafafa);
	background: -webkit-gradient(linear, left top, left bottom, from(#e6e6e7), color-stop(0.3, #fafafa), to(#fafafa));
}